In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import getpass
from scipy.stats import ttest_1samp

# 1. States VS Unemployment

In [ ]:
data = pd.read_csv('13211-0009-DLAND_$F.csv', encoding='ISO-8859-1', sep=';', skiprows=3, skipfooter=4, engine='python')
data

In [ ]:
data.fillna('', inplace=True)
data.head()

In [ ]:
def rename_columns(data, columns_to_rename):
    for column in columns_to_rename:
        new_column_name = column.split('.')[0]
        data.rename(columns={column: new_column_name}, inplace=True)

columns_to_rename = data.columns
rename_columns(data, columns_to_rename)

data.head()

In [ ]:
transposed_data = data.transpose()

transposed_data.head(2)

In [ ]:
transposed_data.columns = transposed_data.iloc[0]
transposed_data = transposed_data[1:]

In [ ]:
transposed_data.head()

In [ ]:
transposed_data.columns = transposed_data.columns.astype(str).str.replace(r'\.0$', '', regex=True)
transposed_data.head()

In [ ]:
transposed_data.columns = [f'Column {i+1}' if not name else name for i, name in enumerate(transposed_data.columns)]

transposed_data.head()

In [ ]:
transposed_data.reset_index(drop=False, inplace=True)

In [ ]:
transposed_data.replace({'Arbeitslose': 'Unemployed',
                         'Insgesamt': 'Total',
                          'männlich': 'Male',
                          'weiblich' : 'Female',
                          'Column 1' : 'employment_status',
                          'Column 2' : 'gender'}, inplace=True)

transposed_data.rename(columns={'Column 1': 'employment_status', 'Column 2': 'gender'}, inplace=True)

transposed_data.drop('Column 3', axis=1, inplace=True)

transposed_data.head()

In [ ]:
data.columns = data.columns.str.replace('index','states')

In [ ]:
states = transposed_data

states.head()

# 2. Income VS Unemployment

In [ ]:
data = pd.read_csv('12241-9000_$F.csv', encoding='ISO-8859-1', sep=';', skiprows=3, skipfooter=4, engine='python')
data

In [ ]:
data.replace({'Arbeitslose': 'Unemployed',
              'Insgesamt': 'Total',
              'männlich': 'Male',
              'weiblich': 'Female',
              'Einkommen und Lebensbedingungen (EU-SILC)': 'income_and_living_conditions_EU-SILC',
              'Erfasste Personen': 'persons_recorded_number',
              'Hochgerechnete Personen': 'extrapolated_people',
              'Nettoäquivalenzeinkommen (Median)': 'net_equivalised_income_(median)_EUR/Year',
              'Armutsgefährdungsquote': 'at_risk_of_poverty_rate_percentage',
              'Prozent': 'Percent',
              'Anzahl': 'Number'}, inplace=True)

data.head()

In [ ]:
row_index_2 = data.iloc[2]
data = data[3:]
data

In [ ]:
data.columns = data.columns.str.replace('Deutschland, Jahre (bis 2019), Geschlecht, Altersgruppen','years')
data.columns = data.columns.str.replace('bis unter','till')
data.columns = data.columns.str.replace('Jahre','years')
data.columns = data.columns.str.replace('Unnamed: 1','gender')
data.columns = data.columns.str.replace('Unnamed: 2','age')
data.columns = data.columns.str.replace('Unnamed: 3','persons_recorded')
data.columns = data.columns.str.replace('Unnamed: 4','extrapolated_people')
data.columns = data.columns.str.replace('Unnamed: 5','net_income_median')
data.columns = data.columns.str.replace('Unnamed: 6','risk_of_poverty_percentage')
data

In [ ]:
data.isnull().sum()

In [ ]:
data = data.dropna()
data

In [ ]:
income = data

In [ ]:
income

# 3.Gender VS Unemployment

In [ ]:
data = pd.read_csv('Population-Gender.csv', encoding='ISO-8859-1', sep=';', skiprows=3, skipfooter=4, engine='python')
data

In [ ]:
row_index_2 = data.iloc[1]
data = data[3:]
data

In [ ]:
data.columns = data.columns.str.replace('Microcensus','gender')
data.columns = data.columns.str.replace('Unnamed: 1','age')
data.columns = data.columns.str.replace('Unnamed: 2','year')
data.columns = data.columns.str.replace('Unnamed: 3','population')
data.columns = data.columns.str.replace('Unnamed: 4','employed_people')
data.columns = data.columns.str.replace('Unnamed: 5','unemployed_people')
data

In [ ]:
data.age.value_counts()

In [ ]:
data.isnull().sum()

In [ ]:
employment_status = data

In [ ]:
employment_status

# 4.People VS Unemployment

In [ ]:
data = pd.read_csv('13211-0004-DINSGF_$F.csv', encoding='ISO-8859-1', sep=';', skiprows=3, skipfooter=4, engine='python')
data

In [ ]:
data.replace({'Arbeitslose': 'Unemployed',
              'Insgesamt': 'Total',
              'männlich': 'Male',
              'weiblich': 'Female',
              'Jugendliche unter': 'young under',
              'Langzeitarbeitslose': 'long-term unemployed"',
              'Schwerbehinderte': 'severely disabled',
              'Ausländer': 'foreigners',
              'Neue Länder': 'New States',
              'Anzahl': 'Number'}, inplace=True)

data

In [ ]:
row_index_2 = data.iloc[2]
data = data[3:]
data

In [ ]:
data.columns = data.columns.str.replace('Arbeitsmarktstatistik der Bundesagentur für Arbeit','totalstates')
data.columns = data.columns.str.replace('Unnamed: 1','year')
data.columns = data.columns.str.replace('Unnamed: 2','month')
data.columns = data.columns.str.replace('Unnamed: 3','total')
data.columns = data.columns.str.replace('Unnamed: 4','male')
data.columns = data.columns.str.replace('Unnamed: 5','female')
data.columns = data.columns.str.replace('Unnamed: 6','under_20_years')
data.columns = data.columns.str.replace('Unnamed: 7','under_25_years')
data.columns = data.columns.str.replace('Unnamed: 8','55_years_older')
data.columns = data.columns.str.replace('Unnamed: 9','long_term_unemployed')
data.columns = data.columns.str.replace('Unnamed: 10','severely_disabled')
data.columns = data.columns.str.replace('Unnamed: 11','foreigners')
data

In [ ]:
data.columns = data.columns.str.replace('year0','severely_disabled')
data.columns = data.columns.str.replace('year1','foreigners')

In [ ]:
data = data[data['year'] != 2024.0]
data = data[data['totalstates'] != 'Früheres Bundesgebiet']
data = data[data['totalstates'] != 'New States']
data

In [ ]:
data = data.drop('totalstates', axis=1)
data

In [ ]:
data = data.astype(str).replace(r'\.0$', '', regex=True)
data

In [ ]:
people_status = data

In [ ]:
people_status

# 5. Industry VS Unemployment

In [ ]:
data = pd.read_excel('Statistisches Bundesamt - German Federal Statistical OfficeNew.xlsx')
data.head()

In [ ]:
row_index_2 = data.iloc[1]
data = data[1:]
data.head()

In [ ]:
data.columns = data.columns.str.replace('Employment\nNational Accounts\nPersons in employment and employees by sectors of economic activity 1\n(domestic concept) 1,000 persons','industry')
data.columns = data.columns.str.replace('Unnamed: 1','2023')
data.columns = data.columns.str.replace('Unnamed: 2','2022')
data.columns = data.columns.str.replace('Unnamed: 3','2021')
data.columns = data.columns.str.replace('Unnamed: 4','2020')
data.columns = data.columns.str.replace('Unnamed: 5','2019')
data.columns = data.columns.str.replace('Unnamed: 6','2018')
data.columns = data.columns.str.replace('Unnamed: 7','2017')
data.columns = data.columns.str.replace('Unnamed: 8','2016')
data.columns = data.columns.str.replace('Unnamed: 9','2015')
data

In [ ]:
data = data.dropna()
data

In [ ]:
row_to_delete = 19
data = data.drop(row_to_delete).reset_index(drop=True)
data

In [ ]:
data = data.astype(str).replace(r'\.0$', '', regex=True)
data

In [ ]:
# Find the index of the row where you want to split the table
split_index = data[data['industry'] == 'Employees'].index[0]

# Create two new DataFrames based on the split index
table1 = data.iloc[:split_index]
table2 = data.iloc[split_index:]

# Display the new tables
table1

In [ ]:
table2.reset_index(drop=True)

In [ ]:
persons_in_employment_industry = table1

In [ ]:
employees_industry = table2

# Reading data from MySQL

In [ ]:
password = getpass.getpass()

In [ ]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/states'
engine = create_engine(connection_string)

In [ ]:
# Export DataFrame to MySQL
table_name = 'states'
states.to_sql(table_name, engine, index=False, if_exists='replace')

In [ ]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/income' 
engine = create_engine(connection_string)

In [ ]:
table_name = 'income'
income.to_sql(table_name, engine, index=False, if_exists='replace')

In [ ]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/employment_status' 
engine = create_engine(connection_string)

In [ ]:
table_name = 'employment_status'
employment_status.to_sql(table_name, engine, index=False, if_exists='replace')

In [ ]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/people_status'
engine = create_engine(connection_string)

In [ ]:
table_name = 'people_status'
people_status.to_sql(table_name, engine, index=False, if_exists='replace')

In [ ]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/persons_in_employment_industry'
engine = create_engine(connection_string)

In [ ]:
table_name = 'persons_in_employment_industry'
persons_in_employment_industry.to_sql(table_name, engine, index=False, if_exists='replace')

In [ ]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/employees_industry'
engine = create_engine(connection_string)

In [ ]:
table_name = 'employees_industry'
employees_industry.to_sql(table_name, engine, index=False, if_exists='replace')

# Visualizing Data in Tableau

In [ ]:
states.to_csv('states.csv', index=False)

In [ ]:
income.to_csv('income.csv', index=False)

In [ ]:
employment_status.to_csv('employment_status.csv', index=False)

In [ ]:
people_status.to_csv('people_status.csv', index=False)

In [ ]:
persons_in_employment_industry.to_csv('persons_in_employment_industry.csv', index=False)

In [ ]:
employees_industry.to_csv('employees_industry.csv', index=False)

# Create and Test atleast one Hypothesis

In [90]:
# Hypothesis 01:
#     H0 = The unemployment is the same for year 2022 and 2021 for all the states
#     H1 = There is a significant difference in year 2022 and 2021 for all the states

In [91]:
states_data = states[states['gender'] == 'Total']
states_data

,index,employment_status,gender,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Baden-Württemberg,Unemployed,Total,233956,230372,227098,226421,212837,195128,196950,259940,247774,223119
3,Bayern,Unemployed,Total,264532,264603,256527,250623,231353,214017,211965,275075,262186,235851
6,Berlin,Unemployed,Total,210093,202927,194812,181018,168991,156230,152565,192644,198401,179327
9,Brandenburg,Unemployed,Total,132329,124628,114873,105555,92648,83669,76888,82491,78463,74242
12,Bremen,Unemployed,Total,37198,37091,37355,36393,35687,34904,35702,40822,39292,37214
15,Hamburg,Unemployed,Total,71560,73663,73291,70666,69248,65589,64774,80677,80395,73800
18,Hessen,Unemployed,Total,185612,184378,177944,172826,166287,154337,149812,184955,178086,164492
21,Mecklenburg-Vorpommern,Unemployed,Total,98952,93067,86095,80389,70982,64993,58485,63850,62410,59571
24,Niedersachsen,Unemployed,Total,269207,267624,256434,252574,244260,227834,218123,251377,243021,230553
27,Nordrhein-Westfalen,Unemployed,Total,762784,763213,744228,725653,701219,650768,635486,733740,718220,668502
30,Rheinland-Pfalz,Unemployed,Total,116360,115741,112882,111436,106299,98764,97717,117912,112137,102515
33,Saarland,Unemployed,Total,37383,36911,36895,37103,34672,32233,32854,38364,36156,33017
36,Sachsen,Unemployed,Total,200628,187494,174319,157862,140348,126311,116051,128669,124743,118216
39,Sachsen-Anhalt,Unemployed,Total,132134,125559,118852,110263,96960,88106,80608,86110,81093,77978
42,Schleswig-Holstein,Unemployed,Total,101751,100957,97850,94977,92434,85053,79678,92140,88865,81564
45,Thüringen,Unemployed,Total,95858,90160,85212,77215,68614,62145,59065,66678,62249,58172

In [92]:
data_2022 = states_data[['index', 'gender', '2022']].dropna()
data_2021 = states_data[['index', 'gender', '2021']].dropna()

In [107]:
data_2022_cleaned = pd.to_numeric(data_2022['2022'], errors='coerce')
data_2021_cleaned = pd.to_numeric(data_2021['2021'], errors='coerce')

In [94]:
# Calculating the average for each year

average_2022 = data_2022_cleaned.mean()
average_2022

151133.3125

In [95]:
average_2021 = data_2021_cleaned.mean()
average_2021

163343.1875

In [96]:
# One-sample t-test
stat, pval = ttest_1samp(data_2022_cleaned,163343.1875)

print(f'T-statistic: {stat}')
print(f'P-value: {pval}')


alpha = 0.05

if pval < alpha:
    print('The null hypothesis is rejected. The unemployment is the same for year 2022 and 2021 for all the states')
else:
    print('The null hypothesis is not rejected. There is a significant difference in year 2022 and 2021 for all the states')

T-statistic: -0.3166697969406589
P-value: 0.7558585072790455
The null hypothesis is not rejected. There is a significant difference in year 2022 and 2021 for all the states

# Formulate conclusions/answers